.signUp_Container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sub_Container {
    height: 80%;
    width: 748px;
    border: 0.5px solid lightgray;
    border-radius: 8px;
    margin: 50px 30px;
    padding: 40px 40px;
    display: flex;
    font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;

    .input_Container {
      height: 100%;
      width: 450px;

      .google_Font {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;

        .G {
          color: #4385f5;
          font-size: 25px;
          font-weight: 500;
          line-height: 20px;
        }

        .o1 {
          padding-top: 3px;
          font-size: 22px;
          color: #eb4f42;
        }

        .o2 {
          padding-top: 3px;
          font-size: 22px;
          color: #fabc04;
        }

        .g {
          padding-top: 3px;
          font-size: 22px;
          color: #4385f5;
        }

        .l {
          padding-top: 3px;
          font-size: 22px;
          color: #34a952;
        }

        .e {
          padding-top: 3px;
          font-size: 22px;
          color: #eb4f42;
        }
      }
      .main_headerText {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
        font-size: 24px;
        letter-spacing: 0.2px;
      }
      .input_Field1 {
        width: 100%;
        height: 62%;
        margin-top: 30px;
        .input1 {
          display: flex;
          width: 100%;
          height: 40px;
          .input11 {
            width: 50%;
            height: 40px;
            // border: 0.5px solid lightgray;

            //label font color black
            .MuiInputLabel-outlined {
              color: #5f6368;
            }

            display: flex;
            justify-content: flex-start;
            .input1_TextField {
              font-family: "Roboto", "RobotoDraft", Helvetica, Arial, sans-serif;
              font-size: 12px;
              width: 95%;
            }
          }
          .input12 {
            width: 50%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            // border: 0.5px solid lightgray;

            //label font color black
            .MuiInputLabel-outlined {
              color: #5f6368;
            }

            .input2_TextField {
              width: 95%;
            }
          }
        }

        .input2 {
          width: 100%;
          height: 70px;
          display: flex;
          justify-content: flex-start;
          margin: 5px 0 0 0;
          // border: 0.5px solid lightgray;
          .input_form {
            width: 97%;
            
            //Username label Adjustment
            .MuiInputLabel-formControl {
              top: -8px;
              font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
            }

            //label font color black
            .MuiInputLabel-outlined {
              color: #5f6368;
            }

            .MuiTypography-colorTextSecondary {
              color: rgb(0, 0, 0);
            }
            // padding-top: 5px;
            .input2_TextField {
              
              padding-top: 5px;
              display: flex;
              justify-content: flex-start;
            }

            .gmail_HelperText {
              font-size: 13px;
              font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
              color: #5f6368;
              // border: 0.5px solid lightgray;
            }
          }
        }
        .suggestion_Button {
          display: flex;
          justify-content: flex-start;
          margin: 10px 0 0 0;
          .s_Button {
            font-family: "Google Sans", "Roboto", Arial, sans-serif;
            font-size: 15px;
            font-weight: 550;
            text-transform: none;
            color: #1a73e8;
          }
        }
        .passwordField {
          margin: 30px 0 0 0;
          .p_field {
            width: 100%;
            display: flex;
            .password {
              width: 50%;
              height: 40px;
              display: flex;
              // border: 0.5px solid lightgray;
              .input1_TextField {
                width: 95%;
              }
              .MuiInputLabel-outlined {
                color: #5f6368;
              }
            }
            .confirmPassword {
              width: 50%;
              height: 40px;
              display: flex;
              // border: 0.5px solid lightgray;

              .input2_TextField {
                width: 95%;
              }
              .MuiInputLabel-outlined {
                color: #5f6368;
              }
            }
          }
          .password_HelperText {
            font-size: 13px;
            font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
            color: #5f6368;
            margin-left: 12px;
            // border: 0.5px solid lightgray;
          }
        }
        .show_password {
          display: flex;
          margin: 10px 0 0 0;
          .s_passwordText {
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
          }
        }
      }
      .bottom_Button {
        width: 98%;
        display: flex;
        justify-content: space-between;
        margin: 40px 10px 0 0;
        .signIn_Button {
          .s_Button {
            font-family: "Google Sans", "Roboto", Arial, sans-serif;
            font-size: 15px;
            font-weight: 550;
            text-transform: none;
            color: #1a73e8;
          }
        }

        .next_Button {
          width: 100px;
          .MuiButton-root {
            width: 100px;
            height: 40px;
            font-family: "Google Sans", "Roboto", Arial, sans-serif;
            background-color: #1a73e8;
            text-transform: none;
            font-weight: 500;
          }
        }
      }
    }
    .image_Container {
      height: 100%;
      width: 338px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      .image_Subcontainer {
        width: 284px;
        .image_Field {
          width: 284px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .image {
            height: 284px;
            width: 284px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
        }
        .image_Text {
          margin: 10px 0 0;
          font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
          font-size: 20px;
          font-weight: lighter;
          color: #202124;
        }
      }
    }
  }
}

.errorMessage1 {
  margin: 3px 0 15px 0;
  width: 100%;
  height: 20px;
  // border: 0.5px solid lightgray;
  color: #d93025;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .errorText {
    margin: 0 0 0 8px;
    font-size: 12px;
  }
}
